.about-product{
    display: flex;
    justify-content: space-between;
}
.product-list ul{
  list-style-type: none;
  display: flex;
}
.product__block{
    padding-top: 50px;

}

.product-list li{
    color: $color-text;  
    padding-right: 30px;

    & a{
        color: $color-text;
    }
}

.product-list li::before{
    content: '';
    background: url('./../img/arrow.png');
    //color: $color-text;
    width: 23px;

}
.product__card-title{
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}
.product__desc{
    max-width: 50%;
}

.main-picture{
    max-width: 483px;
    display: block;
}
.secondary__picture {
    padding-top: 50px;
    & >img{
    max-width: 164px;
}
}
.product__title{
font-weight: 600;
font-size: 32px;
line-height: 39px;
padding-bottom: 40px;

}
.product__feature{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 0.6fr 2fr;
    padding-bottom: 20px;


}
.product__card{
    display: flex;
    flex-direction: column;
    
}