.layout-2-columns{
  display: flex;
  justify-content:space-between;
  
}
.layout-2-columns span{
  margin-right: 51px;

}
.align-center{
  align-items: center;
}
.layout-3-columns{
  display: flex;
  justify-content: space-between;
  align-items: center;
}